In [5]:
import json

with open ('StudentList.json') as jsonfile:
    studentData = json.load(jsonfile)

#print(studentData) #To display data in JSON file
#print(type(studentData)) #To display the type of data structure

import pandas as pd

Dataframe = pd.DataFrame(studentData,index=[1,2,3,4,5])
display(Dataframe) #To display as data frame
#print(type(Dataframe))

      Name  Class  Age         Adress
1      Eza      5   10  PO Box 960272
2     Albi      6   11  PO Box 186682
3    Nandu      7   12  PO Box 689695
4   Alfiya      8   13  PO Box 162272
5  Fathima      9   14  PO Box 546272

In [6]:
Dataframe.to_csv('StudentList_CSV_JNB.csv')